:root {
    background: #fbf8f3;
}

.content-first {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.addImage {
    position: absolute;
    top: 180px;
    margin-left: 130px;
}


.text {
    color: #000;
}

.pointer {
    cursor: pointer;
}
